@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap');
html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: auto;
}

header {
    width: 100%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header p1 {

}

header img {
    width: 50px;
    height: 50px;
    margin-right: 60px;

}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
    line-height: 1.2em;
    background-color: #F5F5F5;
    position: relative;
    z-index: 2;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.slider1{
    width: calc(20% - 120px);
    position: relative;
    max-width: 280px;
}

.slider2{
   width: calc(20% - 120px);
     position: relative;
   max-width: 280px;
}

select{
    width: 200px;
}

.select1{
    margin: 15px;
}

.select2 {
    margin: 15px;
}

.select3 {
    margin: 15px;
}
.select4 {
    margin: 15px;
}
.select5 {
    margin: 15px;
}

button.filter-clear {
        background-color: transparent;
        color: #4D4D4D;
        min-width: 0;
        font-size: 1.2em;
        line-height: 37px;
        height: 37px;
        width: 37px;
        border: 0;
        padding: 0;
        position: inherit;
        top: 20px;
        cursor: pointer;
}

button.filter-clear:hover{
    color: #2db5ab;
}

/* button.filter-clear::before {
    font-family: 'wwzr';
    content: '\e058';
    display: block;
} */

.viewport {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    z-index: 1;
}

 .btn{
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0 1.6rem;
    line-height: 56px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
    z-index: 0;
    font-weight: 600;
    letter-spacing: .5px;
}

.btn::after,
.btn::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn::before {
    background-color: #2db5ab;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: -1;
}

.btn::after {
    background-color: #D92932;
    z-index: -2;
}

.btn.color-secondary{
    color: rgb(0, 0, 0);
    background-color: #2db5ab;
    border: 1px solid white;
    box-shadow: 0px 2px 2px 2px #0000000f;
}

/* .btn.color-secondary::before{
    background-color: black;
} */

#block-container {
     grid-area: 1 / 1 / 2 / 2;
    display: block;
    position: relative;
    z-index: 1;
    /* width: calc(100% - 600px); */
    float: left;
}

#block-container .render img {
    width: 100%;
    object-fit:cover;
    position: absolute ;
}

#block-container .svg img {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#block-container ul.tabbar {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 40px;
}

#block-container ul.tabbar li {
    display: inline-block;
    margin: 0px 1px 0px 0px;
    line-height: 20px;
    padding: 10px 1rem 10px 1rem;
    font-weight: 400;
}

#block-container ul.tabbar li.active::before{
    background-color: #f2b619;
}

#unit-container{
    /* display: flex; */
    box-sizing: border-box;
    background-color: white;
    width: 600px;
    position: relative;
    top: 0px;
    height: 100%;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    padding: 20px 25px 15px 25px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#unit-list ul {
    list-style: none;
}

#unit-list ul li {
    margin-bottom: 10px;
    /* border-bottom: 1px solid; */
}

#unit-list li[data-id] .item {
    padding: 15px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    /* border-bottom: 1px solid; */
}

#unit-list img {
    width: 174px;
    height: auto;
    float: left;
}

#unit-list li .details {
    padding-left: 3.2rem;
    float: left;
    margin-bottom: 3rem;
}
